
.img-icon{
    width: 40px;
    height: 40px;
}

@media(max-width: 1440px) {

    .img-icon {
        width: 40px !important;
        height: 40px !important;
    }

}

img {
    vertical-align: middle;
    border-style: none;
}

.w-30{
    width: 30%;
}

.nobr{
    white-space: nowrap;
}

.nav-user div{
    display: list-item;
}

.sign-out-button:hover{
    cursor: pointer;
}

#navbar-user-management{
    display: block;
}


